<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" [class]="active">
    <div class="sidebar-header">
      <div class="form-group input-container">
        <div id="logo-container">
          <img
            id="logo"
            src="../../../assets/iitplg.png"
            alt="logo"
            class="center"
          />
        </div>

        <div class="input title">TPC IIT PATNA</div>
      </div>
    </div>

    <ul class="list-unstyled components">
      <p>Welcome {{username}}</p>

      <li class="active">
        <a
          href="#accountSubMenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Account</a
        >
        <ul class="collapse list-unstyled" id="accountSubMenu">
          <li><a href="#">change Password</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </li>

      <li><a href="#">Profile</a></li>

      <li><a href="#">Eligible Jobs</a></li>
      <li><a href="#">Applied Jobs</a></li>

      <li><a href="#">Announcements</a></li>

      <li><a href="#">Schedule</a></li>
      <!--
        <li class="active">
          <a
            href="#homeSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
            >Home</a
          >
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li><a href="#">Home 1</a></li>
            <li><a href="#">Home 2</a></li>
            <li><a href="#">Home 3</a></li>
          </ul>
        </li>
        <li><a href="#">About</a></li>
        <li>
          <a
            href="#pageSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
            >Pages</a
          >
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      -->
    </ul>
  </nav>

  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          (click)="toggle()"
          type="button"
          id="sidebarCollapse"
          class="btn btn-info"
        >
          <i class="fa fa-align-left"></i>
        </button>
      </div>
    </nav>
  </div>
</div>
